@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Lato:wght@100;300;400;700;900&family=Noto+Serif:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* root style */

:root{
    --mainwhite: #ffffff;
    --mainblack: #1E1E1E;
    --mainblue: #0B60A9;
    --maindarkgrey: #A0A0A0;

}


/* Browser Reset Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body style */

body{
    width: 100vw;
    background-color: black;
    
}

/* the container style */


.container{
    max-width: 1440px;
    margin: 0 auto;
}


/* the navbar style */

nav{
    display: flex;
    width: 100%;
    height: 108px;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    padding-left: 56px;
    background-color: var(--mainwhite);
}

nav ul{
    display: flex;
    width: 827px;
    justify-content: space-around;
}

nav img{
    width: 234.05px;
    height: 76px;
}

nav img:hover{
    cursor: pointer;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--mainblack);
    font-family: 'Readex Pro';
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

nav ul li a:hover{
    color: var(--mainblue);
}

/* Hero-section style */

.hero-section{
    width: 100%;
    height: 616px;
    display: flex;
    flex-direction: column;
    background: url('Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.hero-section h1{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: var(--mainwhite);
    margin-bottom: 46px;
}

.inputtag{
    position: relative;
    width: 1018px;
    height: 65px;
    display: flex;
    align-items: center;
}

.inputtag input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 32px;
    font-family: 'Readex Pro';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: var(--maindarkgrey);
}

.inputtag button{
    position: absolute;
    width: 196px;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background-color: var(--mainblue);
    color: var(--mainwhite);
    font-family: 'Readex Pro';
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.inputtag button:hover{
    cursor: pointer;
}

.inputtag img{
    position: absolute;
    left: 770px;
}

.inputtag img:hover{
    cursor: pointer;
}

/* tracker-infopage style */

.tracker-infopage{
    width: 1440px;
    height: 807px;
    background-color: var(--mainwhite);
    padding: 120px 80px 309px;
}

table{
    width: 1280px;
    height: 378px;
    
}

#tracker-infotable{
    font-family: 'Readex Pro';
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    width: 100%;
    border-collapse: collapse;
}

#tracker-infotable tr:nth-child(odd){
    background-color: #E8F2FA;
    ;
}

#tracker-infotable tr{
    width: 100%;
    height: 54px;
    padding: 12px 10px;
}

#tracker-infotable tr td{
    padding: 12px 10px;
    color: var(--mainblack);
}

/* footer starts */

footer{
    position: relative;
    width: 100%;
    height: 389px;
    background: url('Rectangle\ 8.png');
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
}

footer p{
    position: absolute;
    bottom: 20px;
    left: 636px;
    font-family: 'Readex Pro';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--mainwhite);
}

footer .footermenu{
    display: flex;
    margin: 64px 329px 56px;
    justify-content: space-between
}

.footer-list h1{
    font-family: 'Readex Pro';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: var(--mainwhite);
    margin-bottom: 16px;
}

.footer-list ul{
    list-style: none;
    font-family: 'Readex Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.footer-list ul li{
    margin-bottom: 12px;
}

.footer-list ul li a{
    text-decoration: none;
    color: var(--mainwhite);
}

.footer-list ul li a:hover{
    color: var(--mainblue);
    transition: 0.3s;
}


